{% extends "base.html" %}

{% block styles %}
<link href="/static/grade_list.css" rel="stylesheet" />
{% endblock %}


{% block page_content %}
<div class="paper">
    <table>
        <tr>
            <th>课程号</th>
            <th>课程名</th>
            <th>学分</th>
            <th>学时</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.cou_sn }}</td>
            <td>{{ item.cou_name }}</td>
            <td>{{ item.cou_credit }}</td>
            <td>{{ item.cou_credit_hour }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}